<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

</head>
<body>

<p>删除</p>
<p>id:  {{tag_info.get('id') or ''}}</p>
<p>名称:  {{tag_info.get('name') or ''}}</p>
<p>链接地址:  {{tag_info.get('url') or ''}}</p>
<p>是否推荐:  {{tag_info.get('if_recommend') or ''}}</p>
<p>网页标题:  {{tag_info.get('meta_title') or ''}}</p>
<p>网页关键字:  {{tag_info.get('meta_keyword') or ''}}</p>
<p>网页描述:  {{tag_info.get('meta_description') or ''}}</p>
<p>点击次数:  {{tag_info.get('click_time') or ''}}</p>
<p>上次更新时间:  {{tag_info.get('update_time') or ''}}</p>
<p>确定    取消</p>

</body>
</html>