
<div class="tab_head">
	<ul class="clearfix" style="border-top:none; background:none; border-right:none;">
	  <li
	  	{% if '/zixun/admin/catagory_list' in handler.request.uri%}
		  class="on"
		{% end %}>
	   <a href="/zixun/admin/catagory_list/">栏目</a></li>
	   <li
	   	{% if '/zixun/admin/article_list' in handler.request.uri%}
		  class="on"
		{% end %}>
	   <a href="/zixun/admin/article_list/">文章</a></li>
	    <li
	    {% if '/zixun/admin/tag_list' in handler.request.uri%}
		  class="on"
		{% end %}>
	    <a href="/zixun/admin/tag_list/">标签</a></li>
	    <li
	    {% if '/zixun/admin/brand_list' in handler.request.uri%}
		  class="on"
		{% end %}>
	    <a href="/zixun/admin/brand_list/">品牌</a></li>
	    <li
	    {% if '/zixun/admin/edit_index' in handler.request.uri%}
		  class="on"
		{% end %}>
	    <a href="/zixun/admin/edit_index/">首页</a></li>
	</ul>
</div>
