<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"> 
	<meta content="yes" name="apple-mobile-web-app-capable">
	<meta content="black" name="apple-mobile-web-app-status-bar-style">
	<meta content="telephone=no" name="format-detection">
	<title>500 - 服务器发生错误 </title>
	<meta content="500" name="keywords">
	<meta content="500" name="description">
	<link href="/static/css/base.css?v={{ handler.version }}" rel="stylesheet" type="text/css" />
<style type="text/css">
	body{background: #fff; text-align: center;}
	.error1{padding-left: 10px;}
	h2{font-size: 36px; font-weight: bold;}
	p{ color: #666; line-height: 20px; padding:10px 0}
	p a{color: #369; margin-right: 10px}
</style>
</head>
<body>
	<div class="error1">
		<h2>对不起，出错啦！</h2>
		<p>OH!有错误发生！！</p>
		<p>很抱歉，暂时无法处理您的访问请求。</p>
		<p><a href="/"><<返回小荷特卖首页</a> <a href="/contact/">联系我们>></a></p>
	</div>
</body>
</html>