</DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>{{ cata_info['meta_title'] }}_小荷特卖</title>
	<meta name="keywords" content="{{ cata_info['meta_keyword'] }}" />
	<meta name="description" content="{{ cata_info['meta_description'] }}" />
	<meta name="baidu-site-verification" content="0652033889a727ed7e9f3e9469b9cf86"/>
	<link rel="stylesheet" href="/static/news/css/base.css?v={{ handler.version }}" />
	<link rel="stylesheet" href="/static/news/css/style.css?v={{ handler.version }}" />
	<script src="/static/news/js/jquery-1.8.3.min.js"></script>
	<script type="text/javascript" src="/static/news/js/jquery.SuperSlide.2.1.1.js"></script>
	<script type="text/javascript" src="/static/news/js/kkpager.min.js"></script>
	<script type="text/javascript" src="/static/news/js/common.js?v={{ handler.version }}"></script>
</head>
<body class="index">
	{% include "header.html" %}
	<h1 style="display:none;">服装搭配</h1>
	<div class="wrap">
		<div class="content clearfix">
			<div class="content_left">
				<div class="banner">
					<div class="hd">
						<ul>
							{% for image in cata_info['cover_image'] %}
							<li></li>
							{% end %}
						</ul>
					</div>
					<div class="bd">
						<div class="tempWrap">
							<ul>
								{% for image in cata_info['cover_image'] %}
								<li><a href="{{image[1]}}" target="_blank"><img src="{{image[0]}}" width="810" height="450"></a></li>
								{% end %}
							</ul>
						</div>
					</div>
					<a class="spite prev"></a>
					<a class="spite next"></a>
				</div>
				</-- 文章列表 -->
				<div class="lists matchList"> 
					<ul class="clearfix">
						{% for article in articles %}
						<li class="clearfix">
							<div class="img fl"><a href="/{{url}}/{{article['id']}}" target="_blank"><img src="{{article['cover_image']}}" width="122" height="150"></a></div>
							<div class="desc fl">
								<a href="/{{url}}/{{article['id']}}" target="_blank">
									<h2>{{article['title']}}</h2>
									<h5><span>{{timeFormatConvert(article['create_time'])}}</span><span class="list_tags">标签：
										{% for t in article['tag'] %}
										{{t['name']}}
										{% end %}
									</span></h5>
									<p>{{ article['description'] }}</p>
								</a>
								<div class="desc_bottom fr"><a href="/{{url}}/{{article['id']}}">查看全部</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div>
							</div>
						</li>
						{% end %}
					</ul>
					<div id="kkpager"></div>
				</div>
			</div>
			</-- 右侧栏 -->
			<div class="content_right">
				</-- 热门标签 -->
				<div class="smallbox tagList" style="margin-top:0;">
					<div class="hd clearfix">
						<h2 class="fl">热门标签</h2>
					</div>
					<div class="tags">
						<ul class="clearfix">
							{% for tag in hot_tags %}
							{% if random() < 0.3 %}
							<li><a href="/label/{{tag['url']}}" class="hot" target="_blank">{{tag['name']}}</a></li>
							{% else %}
							<li><a href="/label/{{tag['url']}}" target="_blank">{{tag['name']}}</a></li>
							{% end %}
							{% end %}
						</ul>
					</div>
				</div>
				<!-- 最新文章 -->
				<div class="smallbox newArticle clearfix">
					<div class="hd clearfix">
						<span class="more"><a href=""><span></span></a></span><h3 style="width:94px">最新文章</h3>
					</div>
					<div class="bd clearfix">
						{% for article in latest_articles[:4] %}
						<div class="list">
							<div class="img"><a href="/{{url}}/{{article['id']}}" target="_blank"><img src="{{article['cover_image']}}" width="80" height="98"></a></div>
							<div class="desc">
								<a href="/{{url}}/{{article['id']}}" target="_blank"><h2><b>{{ article['title'] }}</b></h2>
									<p>{{ article['meta_description'] }}</p>
								</a>
							</div>
						</div>
						{% end %}
					</div>
				</div>
				</-- 时尚新鲜货 -->
				<div class="smallbox fresh">
					<div class="hd">
						<h3 style="width:115px">时尚新鲜货</h3>
					</div>
					<div class="bd">
						<ul>
							{% for a in fashion_article[:3] %}
							<li><a href="/{{a['complete_url']}}" target="_blank"><img src="{{a['cover_image']}}" width="330" height="406"></a></li>
							{% end %}
						</ul>
					</div>
					<a class="spite prev"></a>
					<a class="spite next"></a>
				</div>
				</-- 热门文章 -->
				<div class="smallbox hotArticle">
					<div class="hd clearfix">
						<span class="more"><a href=""><span></span></a></span><h3>热门文章</h3>
					</div>
					<div class="bd">
						<ul>
							{% for article in hot_articles %}
							<li><a href="/{{url}}/{{article['id']}}" target="_blank">
								<dl>
									<dt>{{ article['title'] }}</dt>
								</dl>
							</a></li>
							{% end %}
						</ul>
					</div>
				</div>
				</-- 优品驾到 -->
				<div class="nice_goods">
					<h3 style="width:94px;">优品驾到</h3>
					<div class="hd">
						<ul>
							<li>特价女装</li>|
							<li>特价童装</li>|
							<li>特价玩具</li>
						</ul>
					</div>
					<div class="bd">
						<div class="tempwrap" style="overflow:hidden; position:relative; height:456px">
							<div class="urlWrap">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
<script type="text/javascript">
jQuery(".banner").slide({titCell:".hd ul",mainCell:".bd ul",autoPlay:true,autoPage:"<li><a></a></li>"});
jQuery(".nice_goods").slide({mainCell:".bd .urlWrap",autoPage:false,effect:"left",autoPlay:false,delayTime:300});
jQuery(".fresh").slide({mainCell:".bd ul",autoPlay:true,autoPage:true});

//调用分页
pageRender({
	pageCount :  {{ pageCount }},
	recordNum : {{ recordNum }}
});

</script>
</html>